*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: sans-serif;
}


a{
    font-family: sans-serif;
    text-decoration: none;
    color: black;
}


#header{
    background-color: #e5e5f1ee;

    
    
}
.cadastrar {
    position: absolute; 
    z-index: 2; 
    margin: 0 auto;
    background-color: #e5e5f1ee;
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    border: 3px solid black;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10%;
}

.cadastrar button {
    background-color: #a7a7f7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 1s ease;
}

.cadastrar button:hover {
    background-color: #7676d4;
    scale: 1.2;
}

.cadastrar h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.cadastrar p {
    font-size: 16px;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: -15px;
    font-size: 16px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: 14px;
}

/* Adiciona estilo para o aviso do reCAPTCHA */
.cadastrar p.recaptcha-notice {
    font-size: 12px;
    color: gray;
    margin-top: 10px;
    margin-bottom: -15px;
}


.container_form{
    border: 3px dotted #2f2f5e;
}

.cadastrar h1{
    font-size: 36px;
}

.menu{
    max-width: 1366px;
    height: 70px;
    margin-inline: auto;
    

    display: flex;
    justify-content: space-between;
}
.menu-list #localidade p{
   font-size: 18px;
}
#logo img{
    width: 320px;
}

#localidade{
    display: flex;
}

#localidade img{
    width: 30px;
    height: 30px;
    animation: saltitar 1.3s ease-in infinite;
}

.menu-list .menu-space{
    padding-left: 20px;
}

.menu-list{
    list-style-type: none; 
    display: flex;
    justify-content: space-around;
    
    align-items: center;
}


.menu-list a{
    font-size: 22px;
    padding-block: 16px;
}

.botaoentrar a{
    padding: 10px 20px !important;
    border: 1px solid #9f9ffd;
    color: #9f9ffd !important;
    transition: 0.4s;
    border-radius: 12px;
}

.botaoentrar a:hover{
    color: white !important;
    background-color: #a7a7f7;
}



.botaocadastrar a{
    padding: 10px 20px !important;
    background-color: #a7a7f7;
    color: white;
    transition: 0.3s;
    border-radius: 12px;
}
.botaocadastrar a:hover{
    border-color: #9f9ffd;
    color: #9f9ffd;
    background-color: #e5e5f1ee;
    border: 1px solid #9f9ffd;
    
}

/* Animação */

@keyframes saltitar {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }
}

/* RESPONSIVO MENU*/
#header{
    width: 100vw;
    background-color: white;
}
#logo img{
    width: 300px;
}

.hamburguer {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000000;
    cursor: pointer;
    padding: 0;
    margin-top: 20px; 
    margin-bottom: 50px;

}


.hamburguer::before,
.hamburguer::after{
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    margin-top: 5px;
    background: #000000;
    position: relative;
    transition: 0.3s;
}

@media (max-width: 768px) {
   .cadastrar{
    position: relative;
    margin-top: 200px;
    width: 90vw;
    margin-bottom: -290px;
   }
}

@media (max-width: 1024px) {
    .cadastrar{
     position: relative;
     margin-top: 200px;
     width: 90vw;
     margin-right: 120px;
     margin-bottom: -290px;
    }
 }

@media (max-width: 1220px){

    p{
        font-size: 18px !important;
    }
    .abaplano{
        height: 760px !important;
    }

    .hamburguer{
        display: block;
        z-index: 100;
    }

    .carousel{
        width: 100vw;
        display: flex;
        animation: slide 16s infinite;
    }
    
    
    .carousel img {
        height: 60vh;
        object-fit: cover;
        
    }

   
    

    .menu-list{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: #e5e5f1ee ;
        clip-path: circle(100px at 90% -25%);
        transition: 1s ease-out;
        z-index: 10;
       
        

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 0;
        pointer-events: none;
         }

         .menu-list li{
            
         }
        /* ATIVAÇÂO */

        .menu-list a, p, #localidade img{
            font-size: 24px;
        }


       

        .menu.active .menu-list{
            clip-path: circle(1500px at 90% -15%);
            pointer-events: all;
        }

        .menu.active .hamburguer{
            position: fixed;
            right: 16px;
            border-top-color:transparent ;
            
        }

        .menu.active .hamburguer::before{
            transform: rotate(135deg);
        }
        .menu.active .hamburguer::after{
            transform: rotate(-135deg);
            top:-7px;
        }
        
    }




/* BANNER */

.container-banner{
    overflow: hidden;
    z-index: 10;
}

.carousel{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}


.carousel img {
    width: 100%;
    
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }
    16.666% {
        transform: translateX(0);
    }
    33.333% {
        transform: translateX(-100%);
    }
    50% {
        transform: translateX(-100%);
    }
    66.666% {
        transform: translateX(-200%);
    }
    83.333% {
        transform: translateX(-200%);
    }
    100% {
        transform: translateX(-300%);
    }
}

.cadastro {
    width: 250px;
    height: 300px;
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 350px;
    right: 150px;
}


/* BOOST */

#boost{
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 80px 0px;
    gap: 60px;

}
.img-boost img{
    width: 290px;
    border-radius: 30%;
    background-color: #9f9ffd;

}
.texto-boost{
    width: 350px;
    
}

.texto-boost h1{
    font-size: 32px;
    margin-bottom: 30px ;
}

.texto-boost p{
    font-size: 18px;
}

#boost-itens h1{
    text-align: center;
    font-size: 32px;
    margin-bottom: 80px;
}
.parceiro{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    
}

.cont-parc img{
    width: 32px;
}

.cont-parc{
    text-align: center;
    font-size: 18px;
    width: 220px;
}

.cont-parc h3{
    padding: 10px;
}

/* .parceiro h3{
    padding: 10px;
} */


/* RESPONSIVO BOOST*/

@media screen and (max-width: 620px) {
    #boost{
        flex-direction: column;
    }
    .img-boost img{
        width: 130px;
    }
    .texto-boost h1{
        font-size: 22px;
    }
    .texto-boost p {
        font-size: 14px;
    }

    .texto-boost{
        text-align: center;
    }

   
    
    

}


@media screen and (max-width: 1221px) {
    .conteudoplano{
        flex-wrap: wrap;

    }
    .abaplano{
        height: 760px;
    }

    .parceiro{
 
        align-items: center;
        flex-wrap: wrap;
    }
    .cont-parc{
        margin-bottom: 30px;
    }
    .parceiro p{
        font-size: 14px;
    }

    

    .cadastrar p.recaptcha-notice {
        font-size: 12px;
        color: gray;
        margin-top: 10px;
        margin-bottom: -5px;
    }

    
    
 }







/* PLANOS */
.h1plano{
    text-align: center;
    padding: 40px;
}
.h1plano h1{
    margin-bottom: 30px;
    color: aliceblue;
    font-size: 30px;

}
.h1plano div{
    display: flex;
    padding: 5px 30px;
    border: 1px solid #2f2f5e;
    font-size:18px ;
    background-color: aliceblue;
    border-radius: 20px;
    color: #2f2f5e;
    width: 300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
/* .h1plano p{
    padding: 5px 30px;
    border: 1px solid #2f2f5e;
    font-size:18px ;
    background-color: aliceblue;
    border-radius: 20px;
    color: #2f2f5e;
    width: 300px;
    margin: 0 auto;
    
} */

#planos{
    width: 100vw;
    height: 100%;
    background-color: #9f9ffd;
    margin-top: 80px;
}

.conteudoplano{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
    
}
 
.abaplano{
    width: 500px;
    height: 700px;
    background-color: aliceblue;
    border-radius: 10px;
    margin: 20px;
}
.topabaplano{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}
.ladoplano{
    display: flex;
    align-items: center;
    padding: 20px;
}
.ladoplano img{
    width: 42px;
    margin-top: 7px;
    margin-left: 8px;
}
.circuloplano{
  width: 60px;
  height: 60px;
  clip-path: circle();
  border-radius: 100%;
  background-color: #222222;   
  margin-right: 10px;
}

.plvermelho{
    font-weight: bold;
    color: #2f2f5e;
}


.pplano{
    text-align: center;
    padding: 10px;
}

.meioplano{
    padding: 15px;
}
.meioplano div{
    padding: 10px;
}
.abaplano hr{
    width: 90%;
    margin: 0 auto;
    background-color: #2f2f5e;
}
.ladoplanofinal img{
    width: 32px;
    margin-right: 6px;
}
.ladoplanofinal{
    display: flex;
    align-items: center;
    padding: 15px;
}

/* RESPONSIVO PLANOS*/

@media (max-width:500px) {
    .abaplano{
        height: 100% !important;
        margin: 15px 25px;
    }
    .conteudoplano{
        margin: 0;
    }
    .h1plano div{
        width: 230px;
        font-size: 12px;
    }

    .h1plano div p{
        font-size: 14px !important;    
    }
      
}

.pplano p{
    font-size: 12px;
    color: aliceblue;   
    margin-bottom: 20px;
}

.pplanofraco{
    margin-right: 5px;
    font-size: 13px;

}

/* Cadastrar Loja */

#abrirloja{
    width: 100vw;
    height: 100%;
    padding-bottom: 80px;
    background-color: #efeff594;
}
.lojah1{
    text-align: center;
    padding: 40px;
}
.containerloja{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.itensloja{
    width: 250px;
    padding: 10px 40px;
    text-align: center;
    transition: 1s;
}
.itensloja:hover{
    border: 2px double #9f9ffd62;
}
.itensloja h3{
    padding: 10px 0px;
}

.circuloloja img{
    width: 30px;
    padding: 13px;
}

.circuloloja{
    width: 60px;
  height: 60px;
  clip-path: circle();
  border-radius: 100%;
  background-color: #e5e5f5;   
  margin-right: 10px;
  margin: 0 auto;
}

@media (max-width:500px) {
    .itensloja{
        margin: 20px 0px;

        }
}

/* Conheca */

#conheca{
    width: 100vw;
    height: 400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
}
.conhecape{
    width: 40%;
    height: 60%;
    background: #a7a7f71f;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border-radius: 30px;

}
.conhecaimagem img{
    width: 150%;
    height: 100%;
    border-radius: 30px 0px 0px 30px ;
}
.textoconheca{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    justify-content: center;
}
.textoconheca h1{
    margin-bottom: 30px;
}
.conhecasaiba{
    display: flex;
    align-items: center;
    margin-right: 40px;
}

.conhecasaiba a{
    padding: 10px;
    background-color: #7676d4;
    border-radius: 10px;
    color: aliceblue;
    transition: 1s;
}
.conhecasaiba a:hover{
    transform: scale(1.1);
    border: 1px solid black;
}

@media (max-width:1800px) {

    #conheca{
        height: 600px;
    }

    .conhecape{
        width: 20%;
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .conhecaimagem img{
        width: 150px;
    }
    .textoconheca{
        padding: 20px 0px;
    }
    .conhecasaiba{
        margin: 0 auto;
    }
}

@media (max-width:500px) {
.conhecape{
    width: 100%;
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    
}
.conhecaimagem img{
    border-radius: 30px;
}
.conhecaimagem img{
    width: 210px;
}
.textoconheca{
    padding: 20px 0px;
}
.conhecasaiba{
    margin: 0 auto;
}
 }